*{
    box-sizing: border-box;
    padding: 0px;
    font-family: "Anta", sans-serif;
}

.newsContainer{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.articleContainer{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.newsImage img{
    width: 250px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 39px -4px #000000;
}

.newsInfo a{
    color: white;
}

.newsInfo p{
    margin-bottom: 8px;
}

.newsInfo span{
 margin-bottom: 10px;
 display: inline-block;
 background-color: black;
 color: white;
 padding: 2px 15px;
 border-radius: 5px;
 font-size: 12px;
}

.nextPrevButtonContainer{
    margin-top: 20px;
}

.nextPrevButtonContainer button{
    padding: 10px;
    border-radius: 5px 10px;
    color: white;
    box-shadow: 1px 2px 39px -4px #000000;
    background: -webkit-linear-gradient(rgba(67, 109, 228, 1) 100%, rgba(77, 95, 147, 1) 100%, rgba(85, 105, 165, 1) 100%, rgba(89, 111, 175, 1) 100%, rgba(77, 90, 127, 1) 100%, rgba(140, 140, 140, 0.21054359243697474) 100%);
    background: linear-gradient(rgba(67, 109, 228, 1) 100%, rgba(77, 95, 147, 1) 100%, rgba(85, 105, 165, 1) 100%, rgba(89, 111, 175, 1) 100%, rgba(77, 90, 127, 1) 100%, rgba(140, 140, 140, 0.21054359243697474) 100%);
    border: none;
    margin-right: 20px;
}

.nextPrevButtonContainer button:hover{
    cursor: pointer;
    background: -webkit-linear-gradient(rgba(57, 89, 208, 1) 100%, rgba(67, 85, 137, 1) 100%, rgba(75, 95, 153, 1) 100%, rgba(79, 101, 163, 1) 100%, rgba(67, 80, 117, 1) 100%, rgba(120, 120, 120, 0.3) 100%);
    background: linear-gradient(rgba(57, 89, 208, 1) 100%, rgba(67, 85, 137, 1) 100%, rgba(75, 95, 153, 1) 100%, rgba(79, 101, 163, 1) 100%, rgba(67, 80, 117, 1) 100%, rgba(120, 120, 120, 0.3) 100%);
}

/* sezione loading */
.loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }