<div class="newsContainer" *ngIf="!loading && pages && pages[currentPageIndex]">
  <div class="articleContainer" *ngFor="let article of pages[currentPageIndex]">
    <div class="newsImage">
      <img :src="{{article.image_url}}" alt="">
    </div>
    <div class="newsInfo">
      <span>{{article.category}}</span>
      <a href="{{article.link}}"><p>{{ article.title }}</p></a>
      <p>
        {{ article.description.length > 230 ? article.description.substring(0, 230) + '...' : article.description }}
      </p>
    </div>
  </div>
  
  <div class="nextPrevButtonContainer">
    <button (click)="onPrevPage()" [disabled]="currentPageIndex === 0">Precedente</button>
    <button (click)="onNextPage()" [disabled]="!nextPageId">Successiva</button>
  </div>
</div>

<div class="loading-indicator" *ngIf="loading || !pages || !pages[currentPageIndex]">
  <div class="spinner"></div>
</div>
