<!--note: per immagine completa rimettere classe container al div contenitore -->
<div [ngClass]="backgroundImage" >
  <div class="search">
    <h2 *ngIf="weatherData">{{pageTitle | titlecase}} ({{cityInfo}})</h2>
    <p *ngIf="notFound">Ops! la Città inserita non sembra esistere</p>
    <input (keyup.enter)="searchCoordinates()" type="text" id="cityInput" [(ngModel)]="cityName" placeholder="inserisci città"/>
    <button (click)="searchCoordinates()">Cerca</button>
  </div>
  <!-- *ngIf="coordinates" -->
  <div>
    <!-- *ngIf="weatherData" -->
    <div *ngIf="weatherData" class="meteoResponse">
      <div class="weatherInfoContainer">
        <p>Temperatura</p>
        <p class="meteoInfo">{{ weatherData.temperature_2m }} °C</p>
      </div>
      <div class="weatherInfoContainer">
        <p>Umidità</p>
        <p class="meteoInfo">{{weatherData.relative_humidity_2m}}%</p>
      </div>
      <div class="weatherInfoContainer">
        <p>Vento</p>
        <p class="meteoInfo">{{ weatherData.wind_speed_10m }} km/h</p>
      </div>
      <div *ngIf="weatherData.precipitation_probability >= 50" class="weatherInfoContainer">
        <p>Probabili Precipitazioni</p>
        <p class="meteoInfo">{{weatherData.precipitation_probability}}%</p>
      </div>
      <div *ngIf="weatherData.precipitation >= 0 && weatherData.precipitation_probability > 50" class="weatherInfoContainer">
        <p>Precipitazioni</p>
        <p class="meteoInfo">{{weatherData.precipitation < 3 ? 'deboli' : weatherData.precipitation < 6 ? 'moderate' : 'forti'}}</p>
      </div>
      <div *ngIf="weatherData.cloud_cover >= 70 && this.weatherData.precipitation_probability <= 50" class="weatherInfoContainer">
        <p>Condizione</p>
        <p class="meteoInfo">Nuovoloso</p>
      </div>
    </div>

  <div *ngIf="loading" class="loading-indicator">
    <div class="spinner"></div>
  </div>
  
</div>
  
